# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [1]:
# All import statements needed for the project, for example:

import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db

from sqlalchemy.orm import declarative_base

In [2]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "nyc_zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "SMCztjSAKApgTYc1CbAxcdksE"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/resource/"
NYC_DATA_311 = "erm2-nwe9.geojson"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "FILL_ME_IN"
DB_USER = "FILL_ME_IN"
DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [3]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [4]:
def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        
        ...
        
        with open(filename, "w") as f:
            json.dump(..., f)
        print(f"Done downloading {url}.")

    else:
        print(f"Reading from {filename}...")

    return filename

In [5]:
def load_and_clean_zipcodes():
    return gpd.read_file(ZIPCODE_DATA_FILE)

#zipcode = load_and_clean_zipcodes()
#zipcode.head()

In [6]:
def download_and_clean_311_data():
    url = "https://data.cityofnewyork.us/resource/erm2-nwe9.json?$query=SELECT%0A%20%20%60unique_key%60%2C%0A%20%20%60created_date%60%2C%0A%20%20%60closed_date%60%2C%0A%20%20%60agency%60%2C%0A%20%20%60agency_name%60%2C%0A%20%20%60complaint_type%60%2C%0A%20%20%60descriptor%60%2C%0A%20%20%60location_type%60%2C%0A%20%20%60incident_zip%60%2C%0A%20%20%60incident_address%60%2C%0A%20%20%60street_name%60%2C%0A%20%20%60cross_street_1%60%2C%0A%20%20%60cross_street_2%60%2C%0A%20%20%60intersection_street_1%60%2C%0A%20%20%60intersection_street_2%60%2C%0A%20%20%60address_type%60%2C%0A%20%20%60city%60%2C%0A%20%20%60landmark%60%2C%0A%20%20%60facility_type%60%2C%0A%20%20%60status%60%2C%0A%20%20%60due_date%60%2C%0A%20%20%60resolution_description%60%2C%0A%20%20%60resolution_action_updated_date%60%2C%0A%20%20%60community_board%60%2C%0A%20%20%60bbl%60%2C%0A%20%20%60borough%60%2C%0A%20%20%60x_coordinate_state_plane%60%2C%0A%20%20%60y_coordinate_state_plane%60%2C%0A%20%20%60open_data_channel_type%60%2C%0A%20%20%60park_facility_name%60%2C%0A%20%20%60park_borough%60%2C%0A%20%20%60vehicle_type%60%2C%0A%20%20%60taxi_company_borough%60%2C%0A%20%20%60taxi_pick_up_location%60%2C%0A%20%20%60bridge_highway_name%60%2C%0A%20%20%60bridge_highway_direction%60%2C%0A%20%20%60road_ramp%60%2C%0A%20%20%60bridge_highway_segment%60%2C%0A%20%20%60latitude%60%2C%0A%20%20%60longitude%60%2C%0A%20%20%60location%60%2C%0A%20%20%60%3A%40computed_region_efsh_h5xi%60%2C%0A%20%20%60%3A%40computed_region_f5dn_yrer%60%2C%0A%20%20%60%3A%40computed_region_yeji_bk3q%60%2C%0A%20%20%60%3A%40computed_region_92fq_4b7q%60%2C%0A%20%20%60%3A%40computed_region_sbqj_enih%60%0AORDER%20BY%20%60created_date%60%20DESC%20NULL%20FIRST"
    
    headers = {
        'Accept': 'application/json', 
        'X-App-Token': NYC_DATA_APP_TOKEN  
    }

    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        data = response.json()
        df = pd.json_normalize(data)
        return df
    else:
        print("Failed to retrieve data:", response.status_code)
        print("Details:", response.text)
        return pd.DataFrame()

In [7]:
def download_and_clean_tree_data():
    url = "https://data.cityofnewyork.us/resource/5rq2-4hqu.json"
    
    headers = {
        'Accept': 'application/json', 
        'X-App-Token': NYC_DATA_APP_TOKEN  
    }

    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        data = response.json()
        df = pd.json_normalize(data)
        return df
    else:
        print("Failed to retrieve data:", response.status_code)
        print("Details:", response.text)
        return pd.DataFrame()

In [8]:
def load_and_clean_zillow_data():
    return pd.read_csv(ZILLOW_DATA_FILE)

#zillow = load_and_clean_zillow_data()
#zillow.head()

In [9]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes()
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [10]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

In [11]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ZIPCODE     263 non-null    object
 1   BLDGZIP     263 non-null    object
 2   PO_NAME     263 non-null    object
 3   POPULATION  263 non-null    float64
 4   AREA        263 non-null    float64
 5   STATE       263 non-null    object
 6   COUNTY      263 non-null    object
 7   ST_FIPS     263 non-null    object
 8   CTY_FIPS    263 non-null    object
 9   URL         263 non-null    object
 10  SHAPE_AREA  263 non-null    float64
 11  SHAPE_LEN   263 non-null    float64
 12  geometry    263 non-null    geometry
dtypes: float64(4), geometry(1), object(8)
memory usage: 26.8+ KB

In [12]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

,ZIPCODE,BLDGZIP,PO_NAME,POPULATION,AREA,STATE,COUNTY,ST_FIPS,CTY_FIPS,URL,SHAPE_AREA,SHAPE_LEN,geometry
0,11436,0,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,http://www.usps.com/,0.0,0.0,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,11213,0,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,11212,0,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
3,11225,0,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995908.365 183617.613, 996522.848 18..."
4,11218,0,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((991997.113 176307.496, 992042.798 17..."

In [13]:
geodf_311_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 47 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      1000 non-null   object
 1   created_date                    1000 non-null   object
 2   agency                          1000 non-null   object
 3   agency_name                     1000 non-null   object
 4   complaint_type                  1000 non-null   object
 5   descriptor                      1000 non-null   object
 6   location_type                   948 non-null    object
 7   incident_zip                    995 non-null    object
 8   incident_address                985 non-null    object
 9   street_name                     985 non-null    object
 10  cross_street_1                  689 non-null    object
 11  cross_street_2                  692 non-null    object
 12  address_type                    997 non-null    object
 13  city                            978 non-null    object
 14  status                          1000 non-null   object
 15  resolution_description          640 non-null    object
 16  resolution_action_updated_date  736 non-null    object
 17  community_board                 1000 non-null   object
 18  bbl                             938 non-null    object
 19  borough                         1000 non-null   object
 20  x_coordinate_state_plane        996 non-null    object
 21  y_coordinate_state_plane        996 non-null    object
 22  open_data_channel_type          1000 non-null   object
 23  park_facility_name              1000 non-null   object
 24  park_borough                    1000 non-null   object
 25  latitude                        996 non-null    object
 26  longitude                       996 non-null    object
 27  :@computed_region_efsh_h5xi     995 non-null    object
 28  :@computed_region_f5dn_yrer     996 non-null    object
 29  :@computed_region_yeji_bk3q     996 non-null    object
 30  :@computed_region_92fq_4b7q     996 non-null    object
 31  :@computed_region_sbqj_enih     996 non-null    object
 32  location.latitude               996 non-null    object
 33  location.longitude              996 non-null    object
 34  location.human_address          996 non-null    object
 35  intersection_street_1           659 non-null    object
 36  intersection_street_2           662 non-null    object
 37  landmark                        633 non-null    object
 38  vehicle_type                    29 non-null     object
 39  bridge_highway_name             3 non-null      object
 40  bridge_highway_direction        3 non-null      object
 41  bridge_highway_segment          3 non-null      object
 42  closed_date                     340 non-null    object
 43  taxi_pick_up_location           24 non-null     object
 44  facility_type                   45 non-null     object
 45  due_date                        1 non-null      object
 46  road_ramp                       1 non-null      object
dtypes: object(47)
memory usage: 367.3+ KB

In [14]:
geodf_311_data.head()

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,...,landmark,vehicle_type,bridge_highway_name,bridge_highway_direction,bridge_highway_segment,closed_date,taxi_pick_up_location,facility_type,due_date,road_ramp
0,59581281,2023-11-29T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,10465,220 HOLLYWOOD AVENUE,HOLLYWOOD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,59576161,2023-11-29T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11214,146 BAY 37 STREET,BAY 37 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,59576155,2023-11-29T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11206,83 HEYWARD STREET,HEYWARD STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,59576162,2023-11-29T12:00:00.000,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,10461,3081 MIDDLETOWN ROAD,MIDDLETOWN ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59578566,2023-11-29T01:19:45.000,EDC,Economic Development Corporation,Noise - Helicopter,Other,Above Address,10028,7 EAST 85 STREET,EAST 85 STREET,...,EAST 85 STREET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
geodf_tree_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 43 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   created_at            1000 non-null   object
 1   tree_id               1000 non-null   object
 2   block_id              1000 non-null   object
 3   tree_dbh              1000 non-null   object
 4   stump_diam            1000 non-null   object
 5   curb_loc              1000 non-null   object
 6   status                1000 non-null   object
 7   health                973 non-null    object
 8   spc_latin             973 non-null    object
 9   spc_common            973 non-null    object
 10  steward               973 non-null    object
 11  guards                973 non-null    object
 12  sidewalk              973 non-null    object
 13  user_type             1000 non-null   object
 14  problems              973 non-null    object
 15  root_stone            1000 non-null   object
 16  root_grate            1000 non-null   object
 17  root_other            1000 non-null   object
 18  trnk_wire             1000 non-null   object
 19  trnk_light            1000 non-null   object
 20  trnk_other            1000 non-null   object
 21  brnch_ligh            1000 non-null   object
 22  brnch_shoe            1000 non-null   object
 23  brnch_othe            1000 non-null   object
 24  address               1000 non-null   object
 25  zipcode               1000 non-null   object
 26  zip_city              1000 non-null   object
 27  cb_num                1000 non-null   object
 28  borocode              1000 non-null   object
 29  boroname              1000 non-null   object
 30  cncldist              1000 non-null   object
 31  st_assem              1000 non-null   object
 32  st_senate             1000 non-null   object
 33  nta                   1000 non-null   object
 34  nta_name              1000 non-null   object
 35  boro_ct               1000 non-null   object
 36  state                 1000 non-null   object
 37  latitude              1000 non-null   object
 38  longitude             1000 non-null   object
 39  x_sp                  1000 non-null   object
 40  y_sp                  1000 non-null   object
 41  the_geom.type         1000 non-null   object
 42  the_geom.coordinates  1000 non-null   object
dtypes: object(43)
memory usage: 336.1+ KB

In [16]:
geodf_tree_data.head()

,created_at,tree_id,block_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp,the_geom.type,the_geom.coordinates
0,08/27/2015,180683,348711,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,QN17,Forest Hills,4073900,New York,40.72309177,-73.84421522,1027431.14821,202756.768749,Point,"[-73.84421521958048, 40.723091773924274]"
1,09/03/2015,200540,315986,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,QN49,Whitestone,4097300,New York,40.79411067,-73.81867946,1034455.70109,228644.837379,Point,"[-73.81867945834878, 40.79411066708779]"
2,09/05/2015,204026,218365,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,East Williamsburg,3044900,New York,40.71758074,-73.9366077,1001822.83131,200716.891267,Point,"[-73.93660770459083, 40.717580740099116]"
3,09/05/2015,204337,217969,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,BK90,East Williamsburg,3044900,New York,40.71353749,-73.93445616,1002420.35833,199244.253136,Point,"[-73.93445615919741, 40.713537494833226]"
4,08/30/2015,189565,223043,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,BK37,Park Slope-Gowanus,3016500,New York,40.66677776,-73.97597938,990913.775046,182202.425999,Point,"[-73.97597938483258, 40.66677775537875]"

In [17]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6722 entries, 0 to 6721
Columns: 114 entries, RegionID to 2023-09-30
dtypes: float64(105), int64(3), object(6)
memory usage: 5.8+ MB

In [18]:
df_zillow_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,1606.206406,...,1994.653463,2027.438438,2042.237444,2049.325559,2016.531345,2023.438976,2031.558202,2046.144009,2053.486247,2055.771355
1,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,1257.814660,...,1749.697900,1738.217986,1747.305840,1758.407295,1758.891075,1762.980879,1771.751591,1779.338402,1795.384582,1799.631140
2,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,NaN,...,1701.217520,1706.900064,1706.067787,1723.722320,1735.484670,1752.132904,1756.990323,1754.429516,1757.602011,1755.031490
3,93144,6,79936,zip,TX,TX,El Paso,"El Paso, TX",El Paso County,NaN,...,1419.480272,1458.063897,1471.726681,1466.734658,1456.175660,1462.478506,1466.267391,1490.237063,1488.180414,1494.366097
4,62093,7,11385,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783

## Part 2: Storing Data

In [19]:
def setup_new_postgis_database(username, db_name):
    raise NotImplementedError()

In [20]:
setup_new_postgis_database(DB_USER, DB_NAME)

NotImplementedError:

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [ ]:
engine = db.create_engine(DB_URL)

#### Option 1: SQL

In [ ]:
# if using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables
ZIPCODE_SCHEMA = """
TODO
"""

NYC_311_SCHEMA = """
TODO
"""

NYC_TREE_SCHEMA = """
TODO
"""

ZILLOW_SCHEMA = """
TODO
"""

In [ ]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [ ]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
with engine.connect() as connection:
    pass

#### Option 2: SQLAlchemy

In [ ]:
Base = declarative_base()

class Tree(Base):
    __tablename__ = "trees"

    ...

In [ ]:
Base.metadata.create_all(engine)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [ ]:
def write_dataframes_to_table(tablename_to_dataframe):
    # write INSERT statements or use pandas/geopandas to write SQL
    raise NotImplemented()

In [ ]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [ ]:
write_dataframes_to_table(tablename_to_dataframe)

#### Option 2: SQLAlchemy

In [ ]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [ ]:
for row in geodf_tree_data.iterrows():
    tree = Tree(...)
    session.add(tree)

In [ ]:
session.commit()

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
FILL_ME_IN
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)