# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [1]:
# All import statements needed for the project, for example:

import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests
import shapely
import sqlalchemy as db

from sqlalchemy.orm import declarative_base
#from datetime import datetime

In [2]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "nyc_zipcodes" / "nyc_zipcodes.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "SMCztjSAKApgTYc1CbAxcdksE"

DB_NAME = "FILL_ME_IN"
DB_USER = "FILL_ME_IN"
DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [3]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

## Part 1: Data Preprocessing

In [4]:
def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        
        ...
        
        with open(filename, "w") as f:
            json.dump(..., f)
        print(f"Done downloading {url}.")

    else:
        print(f"Reading from {filename}...")

    return filename

In [5]:
# Read the ZIP code data file into a GeoDataFrame, keep the necessary columns: zipcode and geometry,
# and remove any rows that contain missing values. 
def load_and_clean_zipcodes():
    df = gpd.read_file(ZIPCODE_DATA_FILE)
    columns_to_keep = ['ZIPCODE', 'geometry']
    df_subset = df[columns_to_keep].dropna()
    return df_subset

In [6]:
def download_and_clean_311_data():
    # Define date range for the SoQL query
    start_date = '2023-12-01T00:00:00'
    end_date = '2023-12-02T23:59:59'
    limit = 500

    # Build the query URL with SoQL parameters
    base_url = "https://data.cityofnewyork.us/resource/erm2-nwe9.json"
    soql_query = f"?$where=created_date between '{start_date}' and '{end_date}'&$limit={limit}"
    url = base_url + soql_query
    
    headers = {
        'Accept': 'application/json', 
        'X-App-Token': NYC_DATA_APP_TOKEN  
    }

    response = requests.get(url, headers=headers)
    data = response.json()
    df = pd.json_normalize(data)

    # Keep necessary columns: date, zipcode, latitude, and longitude
    columns_to_keep = ['created_date', 'incident_zip', 'latitude', 'longitude']
    df_subset = df[columns_to_keep].dropna()
    df_subset['created_date'] = pd.to_datetime(df_subset['created_date'])

    return df_subset

In [7]:
from shapely.geometry import Point

def download_and_clean_tree_data():
    url = "https://data.cityofnewyork.us/resource/5rq2-4hqu.json"
    
    #select necessary columns with limit on number of data
    params = {
        '$SELECT': "tree_id, status, health, zipcode, spc_common, latitude, longitude",
        '$LIMIT': 1000
    }
    # define headers with token
    headers = {
        'Accept': 'application/json', 
        'X-App-Token': NYC_DATA_APP_TOKEN  
    }

    response = requests.get(url, params=params, headers=headers) #make a GET request

    if response.status_code == 200:
        data = response.json() #convert json to df and drop missing values
        df = pd.json_normalize(data).dropna()
        geometry = [Point(xy) for xy in zip(df['longitude'], df['latitude'])]
        gdf = gpd.GeoDataFrame(df, geometry=geometry, crs='EPSG:4326') #create gdf with gemotry column using longitude and latitude
        return gdf
    else:
        print("Failed to retrieve data:", response.status_code)
        print("Details:", response.text)
        return pd.DataFrame()

In [8]:
def load_and_clean_zillow_data():
    df = pd.read_csv(ZILLOW_DATA_FILE)
    drop_column = ["SizeRank", "RegionID", "RegionType", "StateName", "State", "Metro"] 
    df = df.drop(columns=drop_column).dropna() #drop unnecessary columns and drop missing values
    df = df.melt(id_vars=["RegionName", "City", "CountyName"], var_name='Date', value_name='Rent') #melt df to convert to long format
    df = df[df["City"] == "New York"] #filter to only NY data
    return df

In [9]:
def load_all_data():
    geodf_zipcode_data = load_and_clean_zipcodes()
    geodf_311_data = download_and_clean_311_data()
    geodf_tree_data = download_and_clean_tree_data()
    df_zillow_data = load_and_clean_zillow_data()
    return (
        geodf_zipcode_data,
        geodf_311_data,
        geodf_tree_data,
        df_zillow_data
    )

In [10]:
geodf_zipcode_data, geodf_311_data, geodf_tree_data, df_zillow_data = load_all_data()

In [11]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 263 entries, 0 to 262
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIPCODE   263 non-null    object
 1   geometry  263 non-null    geometry
dtypes: geometry(1), object(1)
memory usage: 6.2+ KB

In [12]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

  ZIPCODE                                           geometry
0   11436  POLYGON ((1038098.252 188138.380, 1038141.936 ...
1   11213  POLYGON ((1001613.713 186926.440, 1002314.243 ...
2   11212  POLYGON ((1011174.276 183696.338, 1011373.584 ...
3   11225  POLYGON ((995908.365 183617.613, 996522.848 18...
4   11218  POLYGON ((991997.113 176307.496, 992042.798 17...

In [13]:
geodf_311_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495 entries, 0 to 499
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   created_date  495 non-null    datetime64[ns]
 1   incident_zip  495 non-null    object
 2   latitude      495 non-null    object
 3   longitude     495 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 19.3+ KB

In [14]:
geodf_311_data.head()

         created_date incident_zip           latitude           longitude
0 2023-12-02 23:59:48        11368  40.75715694291976  -73.87025118924203
1 2023-12-02 23:59:44        11421  40.68857207023962  -73.86651197686118
2 2023-12-02 23:59:42        10460  40.84258990757021   -73.8808982045141
3 2023-12-02 23:59:40        10037  40.81192309131884  -73.93612708437672
4 2023-12-02 23:59:40        10301  40.64451926298068  -74.07901292980581

In [15]:
num_row = geodf_311_data.shape[0]
print(num_row)

495

In [16]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 973 entries, 0 to 999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tree_id     973 non-null    object
 1   status      973 non-null    object
 2   health      973 non-null    object
 3   zipcode     973 non-null    object
 4   spc_common  973 non-null    object
 5   latitude    973 non-null    object
 6   longitude   973 non-null    object
 7   geometry    973 non-null    geometry
dtypes: geometry(1), object(7)
memory usage: 68.4+ KB

In [17]:
geodf_tree_data.head()

,tree_id,status,health,zipcode,spc_common,latitude,longitude,geometry
0,180683,Alive,Fair,11375,red maple,40.72309177,-73.84421522,POINT (-73.84422 40.72309)
1,200540,Alive,Fair,11357,pin oak,40.79411067,-73.81867946,POINT (-73.81868 40.79411)
2,204026,Alive,Good,11211,honeylocust,40.71758074,-73.9366077,POINT (-73.93661 40.71758)
3,204337,Alive,Good,11211,honeylocust,40.71353749,-73.93445616,POINT (-73.93446 40.71354)
4,189565,Alive,Good,11215,American linden,40.66677776,-73.97597938,POINT (-73.97598 40.66678)

In [18]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5040 entries, 3 to 61422
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  5040 non-null   int64
 1   City        5040 non-null   object
 2   CountyName  5040 non-null   object
 3   Date        5040 non-null   object
 4   Rent        5040 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 236.2+ KB

In [19]:
df_zillow_data.head()

    RegionName      City       CountyName        Date         Rent
3        11226  New York     Kings County  2015-01-31  1944.609891
6        10025  New York  New York County  2015-01-31  3068.951823
10       11206  New York     Kings County  2015-01-31  2482.829299
11       11221  New York     Kings County  2015-01-31  2125.738807
16       11235  New York     Kings County  2015-01-31  1687.789898

## Part 2: Storing Data

In [22]:
#def setup_new_postgis_database(username, db_name):
!createdb 4501_FINAL_PROJECT

createdb: error: database creation failed: ERROR:  database "4501_FINAL_PROJECT" already exists

In [23]:
#setup_new_postgis_database(DB_USER, DB_NAME)
!psql --dbname 4501_FINAL_PROJECT -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

In [ ]:
engine = db.create_engine(DB_URL)

#### Option 1: SQL

In [ ]:
# if using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables
ZIPCODE_SCHEMA = """
TODO
"""

NYC_311_SCHEMA = """
TODO
"""

NYC_TREE_SCHEMA = """
TODO
"""

ZILLOW_SCHEMA = """
TODO
"""

In [ ]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [ ]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
with engine.connect() as connection:
    pass

#### Option 2: SQLAlchemy

In [ ]:
Base = declarative_base()

class Tree(Base):
    __tablename__ = "trees"

    ...

In [ ]:
Base.metadata.create_all(engine)

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [ ]:
def write_dataframes_to_table(tablename_to_dataframe):
    # write INSERT statements or use pandas/geopandas to write SQL
    raise NotImplemented()

In [ ]:
tablename_to_dataframe = {
    "zipcodes": geodf_zipcode_data,
    "complaints": geodf_311_data,
    "trees": geodf_tree_data,
    "rents": df_zillow_data,
}

In [ ]:
write_dataframes_to_table(tablename_to_dataframe)

#### Option 2: SQLAlchemy

In [ ]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [ ]:
for row in geodf_tree_data.iterrows():
    tree = Tree(...)
    session.add(tree)

In [ ]:
session.commit()

## Part 3: Understanding the Data

### Query 1

In [ ]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    raise NotImplementedError()

In [ ]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
FILL_ME_IN
"""

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

In [ ]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)